@import 'tailwindcss';

@theme {
  --color-primary: #1eb5d9;
  --color-primary-hover: #18a0bf;

  --color-secondary: #4caf50;
  --color-secondary-hover: #3e9a42;

  --color-error: #ff6f5e;
  --color-error-hover: #e65f52;

  --color-warning: #f6c667;
  --color-warning-hover: #e0b45a;

  --color-info: #42d8e8;
  --color-info-hover: #3ac2d0;

  --color-text-main: #1c2b36;
  --color-text-secondary: #545e68;

  --color-primary-variant: #8ee7f4;
  --color-secondary-variant: #a6dda8;

  --color-background: #faf8f3;
  --color-surface: #ffffff;
  --color-surface-alt: #fdfdfc;

  --shadow-card: 0 2px 8px rgba(28, 43, 54, 0.06);
}

.body-font {
  font-family: 'Poppins', sans-serif;
}

.title-font {
  font-family: 'Inter Variable', sans-serif;
}

.go-to {
  @apply text-primary hover:text-primary-hover active:text-primary-hover flex cursor-pointer items-center gap-1 text-lg font-semibold;
}

.lang-label {
  @apply flex flex-row items-start justify-between p-2 hover:rounded-md hover:bg-gray-200;
}

.color-transition {
  @apply transition-colors duration-200;
}

.input-component {
  @apply hover:border-primary text-text-main focus:border-primary focus:ring-primary/20 hover:ring-primary/20 h-10 w-full overflow-hidden rounded-xl border-2 bg-white px-2 transition-all duration-500 outline-none hover:bg-white hover:ring-4 focus:bg-white focus:ring-4;
}

.input-error {
  @apply text-text-main h-10 w-full overflow-hidden rounded-xl border-2 border-red-500 bg-white px-2 transition-all duration-500 outline-none hover:bg-white hover:ring-4 hover:ring-red-500/20 focus:border-red-500 focus:bg-white focus:ring-4 focus:ring-red-500/20;
}

.textarea-component {
  @apply hover:border-primary focus:border-primary text-text-main focus:ring-primary/20 hover:ring-primary/20 h-32 w-full resize-none overflow-hidden rounded-xl border-2 bg-white px-3 py-1 text-base leading-6 transition-all duration-500 outline-none hover:bg-white hover:ring-4 focus:bg-white focus:ring-4;
}

.cta-btn {
  @apply bg-primary shadow-card hover:bg-primary-hover active:bg-primary-hover cursor-pointer rounded-xl px-6 py-4 font-semibold text-pretty text-white select-none;
}
