@import 'tailwindcss';

@theme {
  --color-primary: #1eb5d9;
  --color-primary-hover: #18a0bf;

  --color-secondary: #4caf50;
  --color-secondary-hover: #3e9a42;

  --color-error: #ff6f5e;
  --color-error-hover: #e65f52;

  --color-warning: #f6c667;
  --color-warning-hover: #e0b45a;

  --color-info: #42d8e8;
  --color-info-hover: #3ac2d0;

  --color-text-main: #1c2b36;
  --color-text-secondary: #6c7a86;

  --color-primary-variant: #8ee7f4;
  --color-secondary-variant: #a6dda8;

  --color-background: #faf8f3;
  --color-surface: #ffffff; /* o #FDFDFC */
  --color-surface-alt: #fdfdfc;

  --shadow-card: 0 2px 8px rgba(28, 43, 54, 0.06);
}

.go-to {
  @apply text-primary hover:text-primary-hover active:text-primary-hover flex cursor-pointer items-center gap-1 text-lg font-semibold;
}

.lang-label {
  @apply flex flex-row items-start justify-between p-2 hover:rounded-md hover:bg-gray-200;
}

.color-transition {
  @apply transition-colors duration-200;
}

.body-font {
  font-family: 'Poppins', sans-serif;
}

.title-font {
  font-family: 'Inter Variable', sans-serif;
}

.dsdasd {
  /* From Uiverse.io by reglobby */ 
.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
}
